{{extends "./layout/form.html" }}

{{block title()}}
  Create a new account!
{{end}}


{{block pageContent()}}

<div class="form">
    <form method="post" action="/signup" novalidate>

        {{if len(.Flash) > 0}}
            <div class="alert alert-danger">{{.Flash}}</div>
        {{end}}
        
        {{if isset(errors) }}
        <div class="alert">
            <h2>Error!</h2>
            <ul>
                {{range err := errors}}
                <li> {{errors.First(err)}}</li>
                {{end}}
            </ul>
        </div>
        {{end}}
      <h1>Create Account!</h1>
        <p>Use the form below to create an account! Click here to <a href="/login"><strong>login</strong></a></p>
     
      <div class="form__fields">
        <input type="text" name="name" value="{{form.Get("name")}}" placeholder="Your name" />
        <input type="email" name="email" value="{{form.Get("email")}}" placeholder="Email address" />
        <input type="password" name="password" placeholder="Password" />
        <input type="hidden" name="csrf_token" value="{{ .CSRFToken }}">
      </div>
      
      <div class="form__buttons">
        <button type="button" onclick="document.location = '{{.URL}}'">Cancel</button>
        <button>Create Account</button>
      </div>
    </form>
  </div>
  {{end}}
